<h1>Reset your password</h1>
<p>Please enter a new password, and click "Submit."</p>

<% form_for :password, :url => { :action => 'reset_password', :code => params[:code] } do |f| %>
<%= f.password_field :password %>
<%= f.password_field :password_confirmation %>
<%= f.submit 'Submit' %>
<% end %>


