<h1>Reset your password</h1>
<p>To reset your password, please enter the email address you use to log in, and click "Submit."</p>

<% form_for :user do |f| %>
<%= f.text_field :email %>
<%= f.submit 'Submit' %>
<% end %>


